<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><MVVM model></title>
  <script src="./observer.js"></script>
  <script src="./complier.js"></script>
  <script src="./watcher.js"></script>
  <script src="./MVVM.js"></script>
</head>
<body>

  <div id="app">
    <input type="text" v-model="someStr">
    <input type="text" v-model="child.someStr">
   
    <!-- <p>{{ getHelloWord }}</p> -->
    <!-- <p v-html="htmlStr"></p> -->
    <button v-on:click="clickBtn">change model</button>
  </div>

  <script>
    var vm = new MVVM({
      el: '#app',
      data: {
        someStr: 'hello ',
        className: 'btn',
        htmlStr: '<span style="color: #f00;">red</span>',
        child: {
          someStr: 'World !'
        }
      },
      methods: {
        clickBtn() {
          var randomStrArr = ['childOne', 'childTwo', 'childThree'];
          this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
        }
      }
    })
    console.log(vm)
  </script>
</body>
</html>